body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1447px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:45px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:181px;
  width:1447px;
  height:45px;
}
#u2149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:195px;
  width:16px;
  height:16px;
  font-size:16px;
}
#u2151_img.mouseOver {
}
#u2151.mouseOver {
}
#u2151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#003366;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:192px;
  width:76px;
  height:22px;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#003366;
}
#u2152_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#003366;
}
#u2152.mouseOver {
}
#u2152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:59px;
  background:inherit;
  background-color:rgba(56, 65, 77, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:1447px;
  height:59px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u2154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:135px;
  width:331px;
  height:37px;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u2155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  white-space:nowrap;
}
#u2156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:45px;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:129px;
  width:104px;
  height:45px;
  font-family:'Lato';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#003366;
}
#u2156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u2157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:143px;
  width:16px;
  height:17px;
}
#u2157_img.mouseOver {
}
#u2157.mouseOver {
}
#u2157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#285376;
  line-height:23px;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:41px;
  width:64px;
  height:23px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#285376;
  line-height:23px;
}
#u2158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u2159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:33px;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:61px;
  width:359px;
  height:33px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u2159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:38px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:332px;
  width:634px;
  height:46px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:38px;
}
#u2160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  word-wrap:break-word;
}
#u2161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:379px;
  width:1140px;
  height:1px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u2161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:133px;
  background:inherit;
  background-color:rgba(38, 55, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1174px;
  width:1447px;
  height:133px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1206px;
  width:125px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u2165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:1206px;
  width:119px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u2166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:1206px;
  width:193px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:1328px;
  width:147px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u2167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u2168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:1328px;
  width:49px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u2168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:1336px;
  width:4px;
  height:4px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:44px;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:1316px;
  width:168px;
  height:44px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1251px;
  width:254px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u2172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:1251px;
  width:75px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:1066px;
  width:331px;
  height:86px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u2174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:1016px;
  width:1140px;
  height:1px;
}
#u2174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#284162;
  line-height:36px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:426px;
  width:239px;
  height:36px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#284162;
  line-height:36px;
}
#u2175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u2176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(234, 235, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 222, 225, 1);
  border-radius:4px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:239px;
  width:75px;
  height:36px;
}
#u2176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  color:#335175;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:249px;
  width:56px;
  height:17px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  color:#335175;
}
#u2177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:48px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:414px;
  width:47px;
  height:48px;
}
#u2178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:459px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 238, 238, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:517px;
  width:1140px;
  height:459px;
}
#u2179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:548px;
  width:1140px;
  height:104px;
}
#u2180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:557px;
  width:175px;
  height:84px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u2182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-style:normal;
  font-size:16px;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:672px;
  width:572px;
  height:222px;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-style:normal;
  font-size:16px;
}
#u2182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  word-wrap:break-word;
}
#u2183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Italic', 'Noto Sans Regular', 'Noto Sans';
  font-size:16px;
  line-height:36px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:904px;
  width:535px;
  height:72px;
  font-family:'Noto Sans Italic', 'Noto Sans Regular', 'Noto Sans';
  font-size:16px;
  line-height:36px;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  word-wrap:break-word;
}
