body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1447px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:45px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:181px;
  width:1447px;
  height:45px;
}
#u5377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5379 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:195px;
  width:16px;
  height:16px;
  font-size:16px;
}
#u5379_img.mouseOver {
}
#u5379.mouseOver {
}
#u5379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#003366;
}
#u5380 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:192px;
  width:76px;
  height:22px;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#003366;
}
#u5380_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#003366;
}
#u5380.mouseOver {
}
#u5380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u5381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:59px;
  background:inherit;
  background-color:rgba(56, 65, 77, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u5382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:1447px;
  height:59px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u5382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u5383 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:135px;
  width:331px;
  height:37px;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u5383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  white-space:nowrap;
}
#u5384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:45px;
}
#u5384 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:129px;
  width:104px;
  height:45px;
  font-family:'Lato';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#003366;
}
#u5384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u5385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u5385 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:143px;
  width:16px;
  height:17px;
}
#u5385_img.mouseOver {
}
#u5385.mouseOver {
}
#u5385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#285376;
  line-height:23px;
}
#u5386 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:41px;
  width:64px;
  height:23px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#285376;
  line-height:23px;
}
#u5386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u5387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:33px;
}
#u5387 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:61px;
  width:359px;
  height:33px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u5387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:38px;
}
#u5388 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:282px;
  width:648px;
  height:38px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:38px;
}
#u5388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  word-wrap:break-word;
}
#u5389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u5389 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:329px;
  width:1140px;
  height:1px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u5389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:133px;
  background:inherit;
  background-color:rgba(38, 55, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:927px;
  width:1447px;
  height:133px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5392 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:959px;
  width:125px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u5393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5393 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:959px;
  width:119px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u5394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5394 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:959px;
  width:193px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u5395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u5395 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:1081px;
  width:147px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u5395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u5396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u5396 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:1081px;
  width:49px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u5396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5397 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:1089px;
  width:4px;
  height:4px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:44px;
}
#u5398 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:1069px;
  width:168px;
  height:44px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5399 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1004px;
  width:254px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u5400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5400 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:1004px;
  width:75px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5401 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:815px;
  width:510px;
  height:88px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u5402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1116px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:36px;
}
#u5402 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:410px;
  width:1116px;
  height:72px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:36px;
}
#u5402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1116px;
  word-wrap:break-word;
}
#u5403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:37px;
  background:inherit;
  background-color:rgba(51, 80, 117, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 222, 225, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5403 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:688px;
  width:60px;
  height:37px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5403_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:37px;
  background:inherit;
  background-color:rgba(207, 209, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 222, 225, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5403.mouseOver {
}
#u5403_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u5405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u5405 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:344px;
  width:179px;
  height:27px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u5405_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u5405.mouseOver {
}
#u5405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u5406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u5406 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:346px;
  width:26px;
  height:22px;
}
#u5406_img.mouseOver {
}
#u5406.mouseOver {
}
#u5406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5407 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:506px;
  width:330px;
  height:27px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  white-space:nowrap;
}
#u5408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1142px;
  height:2px;
}
#u5408 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:772px;
  width:1141px;
  height:1px;
}
#u5408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5410 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:508px;
  width:24px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u5410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:20px;
  word-wrap:break-word;
}
#u5411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-size:16px;
}
#u5411 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:555px;
  width:161px;
  height:22px;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-size:16px;
}
#u5411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u5412 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:587px;
  width:84px;
  height:37px;
}
#u5412_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u5412_input:disabled {
  color:grayText;
}
#u5413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5413 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:649px;
  width:1043px;
  height:22px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  white-space:nowrap;
}
