body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1447px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:45px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:181px;
  width:1447px;
  height:45px;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:195px;
  width:16px;
  height:16px;
  font-size:16px;
}
#u822_img.mouseOver {
}
#u822.mouseOver {
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#003366;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:192px;
  width:76px;
  height:22px;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#003366;
}
#u823_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#003366;
}
#u823.mouseOver {
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:59px;
  background:inherit;
  background-color:rgba(56, 65, 77, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:1447px;
  height:59px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:135px;
  width:331px;
  height:37px;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  white-space:nowrap;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:45px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:129px;
  width:104px;
  height:45px;
  font-family:'Lato';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#003366;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:143px;
  width:16px;
  height:17px;
}
#u828_img.mouseOver {
}
#u828.mouseOver {
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#285376;
  line-height:23px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:41px;
  width:64px;
  height:23px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#285376;
  line-height:23px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:33px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:61px;
  width:359px;
  height:33px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:38px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:282px;
  width:527px;
  height:38px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:38px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:329px;
  width:1140px;
  height:1px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:133px;
  background:inherit;
  background-color:rgba(38, 55, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1010px;
  width:1447px;
  height:133px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1042px;
  width:125px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:1042px;
  width:119px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:1042px;
  width:193px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:1164px;
  width:147px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:1164px;
  width:49px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:1172px;
  width:4px;
  height:4px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:44px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:1152px;
  width:168px;
  height:44px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1087px;
  width:254px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:1087px;
  width:75px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:901px;
  width:510px;
  height:88px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 222, 225, 1);
  border-radius:4px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#28517B;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:690px;
  width:81px;
  height:49px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#28517B;
}
#u845_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
  background:inherit;
  background-color:rgba(207, 209, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 222, 225, 1);
  border-radius:4px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#28517B;
}
#u845.mouseOver {
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:15px;
  width:57px;
  word-wrap:break-word;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-style:normal;
  font-size:20px;
  line-height:36px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:434px;
  width:1032px;
  height:235px;
  font-family:'Noto Sans';
  font-style:normal;
  font-size:20px;
  line-height:36px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  word-wrap:break-word;
}
#u847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 222, 225, 1);
  border-radius:4px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#28517B;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:690px;
  width:64px;
  height:49px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#28517B;
}
#u847_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:49px;
  background:inherit;
  background-color:rgba(207, 209, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 222, 225, 1);
  border-radius:4px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#28517B;
}
#u847.mouseOver {
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:15px;
  width:40px;
  word-wrap:break-word;
}
#u848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 222, 225, 1);
  border-radius:4px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#28517B;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:782px;
  width:91px;
  height:54px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#28517B;
}
#u848_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:54px;
  background:inherit;
  background-color:rgba(207, 209, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 222, 225, 1);
  border-radius:4px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.447058823529412);
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#28517B;
}
#u848.mouseOver {
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:67px;
  word-wrap:break-word;
}
#u850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:344px;
  width:179px;
  height:27px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u850_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u850.mouseOver {
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:346px;
  width:26px;
  height:22px;
}
#u851_img.mouseOver {
}
#u851.mouseOver {
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
