body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1447px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:45px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:181px;
  width:1447px;
  height:45px;
}
#u1639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:195px;
  width:16px;
  height:16px;
  font-size:16px;
}
#u1641_img.mouseOver {
}
#u1641.mouseOver {
}
#u1641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#003366;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:192px;
  width:76px;
  height:22px;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#003366;
}
#u1642_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#003366;
}
#u1642.mouseOver {
}
#u1642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:59px;
  background:inherit;
  background-color:rgba(56, 65, 77, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:1447px;
  height:59px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u1644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:135px;
  width:331px;
  height:37px;
  font-family:'Noto Sans Bold', 'Noto Sans Regular', 'Noto Sans';
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u1645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  white-space:nowrap;
}
#u1646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:45px;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:129px;
  width:104px;
  height:45px;
  font-family:'Lato';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#003366;
}
#u1646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u1647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:143px;
  width:16px;
  height:17px;
}
#u1647_img.mouseOver {
}
#u1647.mouseOver {
}
#u1647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#285376;
  line-height:23px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:41px;
  width:64px;
  height:23px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#285376;
  line-height:23px;
}
#u1648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u1649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:33px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:61px;
  width:359px;
  height:33px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u1649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1447px;
  height:133px;
  background:inherit;
  background-color:rgba(38, 55, 74, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1318px;
  width:1447px;
  height:133px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1350px;
  width:125px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u1653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:1350px;
  width:119px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u1654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:1350px;
  width:193px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:1472px;
  width:147px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u1656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:1472px;
  width:49px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#2D4666;
}
#u1656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:1480px;
  width:4px;
  height:4px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:44px;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:1460px;
  width:168px;
  height:44px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1395px;
  width:254px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u1660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:1395px;
  width:75px;
  height:19px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:38px;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:282px;
  width:634px;
  height:46px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:38px;
}
#u1661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  white-space:nowrap;
}
#u1662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:329px;
  width:1140px;
  height:1px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u1662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1122px;
  height:378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-style:normal;
  font-size:20px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:423px;
  width:1122px;
  height:378px;
  font-family:'Noto Sans';
  font-style:normal;
  font-size:20px;
}
#u1663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1122px;
  word-wrap:break-word;
}
#u1664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:1145px;
  width:1140px;
  height:1px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u1664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:345px;
  width:179px;
  height:27px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u1666_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u1666.mouseOver {
}
#u1666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u1667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:347px;
  width:26px;
  height:22px;
}
#u1667_img.mouseOver {
}
#u1667.mouseOver {
}
#u1667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1188px;
  width:185px;
  height:72px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u1669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 222, 225, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#003366;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:851px;
  width:99px;
  height:45px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#003366;
}
#u1669_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:45px;
  background:inherit;
  background-color:rgba(207, 209, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 222, 225, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#003366;
}
#u1669.mouseOver {
}
#u1669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:95px;
  word-wrap:break-word;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:147px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:938px;
  width:1140px;
  height:147px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u1671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:147px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:938px;
  width:6px;
  height:147px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u1672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:954px;
  width:166px;
  height:44px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u1674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:1008px;
  width:1081px;
  height:62px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:958px;
  width:37px;
  height:37px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:967px;
  width:23px;
  height:18px;
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
